<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="style.css" rel="stylesheet" >
</head>
<body>
    <div class="displaycontainer">
        <div class="leftsidebar">

        </div>
        <div class="mainbox">
          <h3>
              <% article.title %>
          </h3> 
          <p>
            <% article.content %>  
          </p> 
        </div>
       <div class="sidebox">
           <h4>
          <%  artile.title %>     
           </h4>
           <p>
           <% article.date %>    
           </p>
       </div>
    </div>
</body>
</html>